/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #003262;
}

/* Custom default button */
.btn-default,
.btn-default:focus {
  color: #FDB515;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #FDB515;
  border: 1px solid #fff;
}
.btn .btn-lg .btn-default:hover{
  color: #003262;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  color:#FDB515
}
body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  margin-top: 0px;
  margin-bottom: 300px;
  padding: 0px;
  font-size: 20px;
  color:#FDB515; /*Boxes*/
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;

}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 20px;
  font-color:#FDB515;
}
.cover .btn-lg {
  padding: 10px 30px;
  color:#FDB515;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    width:100%;
  }
  .mastfoot {
    position: fixed;
    bottom: 10px;
    opacity: .1;
    margin-bottom: -310px;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
    opacity: .8;
    background-color: #003262;

  }
}
.logo{
  width:30px;
  height:30px;
}
.img{
  background-image:url('/static/images/blur.jpg');
  background-size:100% 100%;
}
.text{
  color:#FDB515;
  opacity: 1;
}
.inner {
  width:700px;
}
.adjust{
  margin-left: 270px;
  font-size: 150px;
  margin-bottom: 10px;
  background-color: #7e7e7e;
  opacity:.925;
} 
.yellow{
  opacity: 1;
  color:#FDB515;
}
.blue{
  opacity: 1;
  color:#003262;
}