<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Custom styles for this template -->
    <link href="../static/css/about.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="back">

    <div class="yellow">BEAR Witness to this Amazing Team!</div>
    <br></br>

    <!-- Three columns of text below the carousel -->
        <div class="row1">

      <div class="col-lg-4">

        <img class="img-circle" src="/static/img/philip.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Philip</h2>
        <p>What?</p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img class="img-circle" src="/static/img/colin.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Colin</h2>
        <p>Okay</p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img class="img-circle" src="/static/img/sophia.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Sophia</h2>
        <p>Syncing...</p>
      </div><!-- /.col-lg-4 -->


    </div><!-- /.row -->

    <div class="row2">


      <div class="col-lg-4">
        <img class="img-circle" src="/static/img/franky.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Franky</h2>
        <p>I like burritos!</p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img class="img-circle" src="/static/img/dave.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Dave</h2>
        <p>Still Sane!</p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img class="img-circle" src="/static/img/maiki.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Maiki</h2>
        <p>Fine</p>
      </div><!-- /.col-lg-4 -->


    </div>


    <!-- jQuery Version 1.11.0 -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>

    <!-- Lodash -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
