<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="img">

    <div class="text navbar-header adjust">
      <div class="blue">
        Cal-<span class="yellow" stlye="color:#003262;">Nected</span>
      </div>
    </div>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover text">
            <h1 class="cover-heading">It's Cal, fully connected.</h1>
            <p class="lead">With the Calnected Portal, you'll find organized sections that will help you get to where you need to go. It's better than a portal, it's a map. </p>
            <p class="lead">
              <a href="/" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot text">
            <div class="inner">
              Developed by <a href="about">Team Miss Fitz</a>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div>
    </div>
    <!-- jQuery Version 1.11.0 -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>

    <!-- Lodash -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
